@if (User.Identity != null && User.Identity.IsAuthenticated)
{
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
            
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Note" asp-action="List">Notes</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Note" asp-action="Add">Add</a>
            </li>

        </ul>

        <ul class="navbar-nav flex-grow-1 justify-content-end">

            <li class="nav-item">
                <div class="nav-link text-dark">@User.Identity.Name</div>
            </li>

            <li>
                <form asp-controller="Account" asp-action="Logout" method="post">
                    <input type="submit" value="Logout" class="form-control form-control-lg"/>
                </form>
            </li>

        </ul>
    </div>
}
else
{
    <div class="btn-group">
        <a class="navbar-brand" asp-controller="Account" asp-action="Login">Log in</a>
        <a class="navbar-brand" asp-controller="Account" asp-action="Register">Sing up</a>
    </div>
}
